[submodule "lib/unicorn"]
	path = lib/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "lib/capstone"]
	path = lib/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "lib/jsoncpp"]
	path = lib/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "lib/ELFIO"]
	path = lib/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "arm-code/apps/coremark/coremark"]
	path = arm-code/apps/coremark/coremark
	url = https://github.com/eembc/coremark.git
